body {
    background-color: gray;
    color: white;
    font-family: sans-serif;
}

.container {
    width: 580px;
    max-height: 930px;
    background-color: rgb(90, 90, 100);
    margin-left: 50vw;
    margin-top: 10vh;
    transform: translateX(-50%);
}

.header {
    width: 560px;
    background-color: #352466;
    padding: 10px;
    text-align: center;
    font-weight: 500;
}

.chat-container {
    width: 580px;
    max-height: 863px;
    min-height: 600px;
    text-align: center;
    overflow-y: auto;
    background-color: #444444;
}

.chat {
    position: relative;
    left: -30px;
    list-style: none;
    text-align: left;
}

.chat li {
    margin: 1em 0;
}

p {
    margin: 0;
}

input {
    position: absolute;
    width: 576px;
    padding: 5px 0;
    border-radius: 0;
    background-color: white;
}