<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>App</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="resources/js/utils.js"></script>
    <script src="resources/js/main.js"></script>
    <link rel="stylesheet" href="resources/css/main.css"/>
</head>
<body onload="init()">

<div class="container">
    <div class="tab">
        <button class="tablinks active" onclick="">Global room</button>
        <button class="tablinks" onclick="">Other</button>
        <button class="tablinks" onclick="">Other2</button>
        <button class="tablinks add" onclick="">Add</button>
    </div>
    <div class="header">
        Room name
    </div>
    <div class="chat-container">
        <ul class="chat" id="chat"></ul>
    </div>
    <input type="text" placeholder="Type text & hit enter" maxlength="100" id="input">
    <div class="btn-send">
        <button onclick="">Send</button>
    </div>
</div>
<div class="footer">
    <p>made by tyry</p>
    <p>version 0.3</p>
    <p>github link</p>
</div>

</body>
</html>